<div class="login">
    <img src="assets/images/login-bg.png" alt="img" class="login-bg" />
    <form action="" class="login-form">
      <h1 class="login-title">Login</h1>
      <div class="login-inputs">
        <div class="login-box">
          <input type="email" placeholder="Email ID" name="email" id="email" class="login-input" required />
          <i class="ri-mail-fill"></i>
        </div>
        <div class="login-box">
          <input type="password" placeholder="Password" name="pass" id="pass" class="login-input" required />
          <i class="ri-lock-2-fill"></i>
        </div>
      </div>
      <div class="login-check">
          <div class="login-check-box">
              <input type="checkbox" class="login-check-input" id="user-check">
              <label for="user-check" class="login-check-label">Remember me</label>
          </div>
          <a href="#" class="login-forgot">Forgot Password?</a>
      </div>
      <button class="login-button">Login</button>
      <div class="login-register">Don't have an account? <a href="#">Register</a></div>
    </form>
  </div>